<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title</title>

        <script src="Scripts/require.js" ></script>

        <script>
            /* This is the app's main script,
            it is not explicitly loaded by RequireJS because
            there are race conditions with the scripts loaded in each view */

            require.config({
                baseUrl: "/Scripts",
                paths: {
                    jquery: "jquery-2.0.3",
                    knockout: "knockout-3.0.0.debug",
                    knockoutMap: "knockout.mapping-latest.debug",
                    domReady: "domReady",
                    moment: "moment",

                    nfClient: "App/Services/NewsfeedClient",
                    nfViewModel: "App/ViewModels/NewsfeedViewModel"
                }
            });

            require(["jquery", "knockout","knockoutMap", "moment"], function ($, ko, koMap, moment) {
                ko.bindingHandlers.displayDate = {
                    update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                        var value = koMap.toJS(valueAccessor());
                        $(element).text(moment(value).format("MMM Do YYYY, hh:mm:ss"));
                    }
                };
            });
        </script>
    </head>
    <body>
        <header>
        </header>
        <section>
            @RenderBody()
        </section>
    </body>
</html>