@{
    ViewBag.Title = "Newsfeed";
}

<h2>Newsfeed</h2>
<div class="nfMessagesWrapper">
    <input type="button" data-bind="click: showMore" value="Show more"/>
    <ul data-bind="foreach: messages" id="messagesList" class="nfScrollable">
        <li>
            <p>
                <b>
                    <span data-bind="text: Username"> </span>
                    <span data-bind="displayDate: SentDate"></span>
                </b>
                <span data-bind="text: Text"></span>
                <a href="#" data-bind="click: function (data, event) { $parent.like(data, event) }">Like!</a>
                <span data-bind="text: Likes"></span>
            </p>
        </li>
    </ul>
    <input type="text" data-bind="value: message, event: { keypress: sendKeypress }, valueUpdate: 'keypress'"/>
    <input type="button" data-bind="click: send" Value="Send"/>
</div>

<div class="nfNotificationsWrapper">
    <ul data-bind="foreach: notifications">
        <li>
            <p>
                <b>
                    <span data-bind="displayDate: SentDate"></span>
                </b>
                <span data-bind="text: Text"></span>
            </p>
        </li>
    </ul>
</div>

<script src="~/Scripts/App/Controllers/home-index.js"></script>